.Ending_footer{
    width:100vw;
    height:100px;
    /* background-color: #e0ddda; */
    background-color: #D8D2C8;
    display:flex;
    justify-content: center;
}
#explore{
    width:200px;
    height:50px;
    background-color: #4C3730;
    border-radius: 30px;
    color:white;
    border:2px solid transparent;
    font-weight: 700;
    font-size:16px;
}
.image{
    width:300px;
    height:90px;
    /* background-color: blueviolet; */
    margin-right:700px;
}
.link{
    width:200px;
    height:80px;
    /* background-color: aqua; */
}
/* #zerobin{
    width:100px;
    height:100px;
} */
#quick_links{
    font-size:24px;
    line-height: 3.5;
    color:white;
}